parameters:
    level: 7
    paths:
        - src
    excludePaths:
        - tests/fixtures/*
    ignoreErrors:
        -
            message: '#^Anonymous function has an unused use \$__pesto\.$#'
            path: src/Renderer.php